<form #f="ngForm" (ngSubmit)="onSubmit(f)" validate>
    <mat-form-field>
        <input matInput ngModel name="title" placeholder="Titre" (value)="data.title" required>
    </mat-form-field>

    <div class="form-group row range-time">
        <div class=col-md-4>
            <label for="numPersonMin">Nombre de personne minimal</label>
            <mat-slider id="numPersonMin" matInput ngModel name="numPersonMin" max="30" min="1" step="1"
                thumbLabel="true" (value)="data.numPersonMin" required>
            </mat-slider>
        </div>

        <div class=col-md-4>
            <label for="numPersonMax">Nombre de personne maximal</label>
            <mat-slider id="numPersonMax" matInput ngModel name="numPersonMax" max="30" min="1" step="1"
                thumbLabel="true" (value)="data.numPersonMax" required>
            </mat-slider>
        </div>

        <div class=col-md-4>
            <mat-form-field>
                <input type="time" matInput ngModel name="duration" placeholder="Durée" (value)="data.duration"
                    required />
            </mat-form-field>
        </div>
    </div>

    <mat-form-field>
        <textarea matInput placeholder="Résumé de la pratique" ngModel name="description" (value)="data.description"
            required></textarea>
    </mat-form-field>

    <label for="stepsArray">
        Les étapes
        <button type="button" mat-icon-button (click)="data.steps.push('')" matTooltip="Ajouter une nouvelle étapes">
            <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
        </button>
    </label>
    <form id="stepsArray" class="row" [formGroup]="stepsForm">
        <div formArrayName="steps" class="col-md-4" *ngFor="let steps of data?.steps; let i=index">
            <mat-form-field>
                <textarea matInput placeholder="Déscription {{ i + 1 }}" (value)="data.steps[i]"></textarea>
            </mat-form-field>
        </div>
    </form>

    <mat-form-field>
        <textarea matInput placeholder="Objectif" ngModel name="goal" (value)="data.goal" required></textarea>
    </mat-form-field>

    <mat-form-field>
        <textarea matInput placeholder="Valeur ajoutée" ngModel name="addedValue" (value)="data.addedValue"
            required></textarea>
    </mat-form-field>

    <label for="materialsArray">
        Matériels
        <button type="button" mat-icon-button (click)="data.materials.push('')"
            matTooltip="Ajouter un nouveau materiel">
            <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
        </button>
    </label>
    <form id="materialsArray" class="row" [formGroup]="materialsForm">
        <div formArrayName="materials" class="col-md-4" *ngFor="let material of data?.materials; let i=index">
            <mat-form-field>
                <input matInput placeholder="Déscription {{ i + 1 }}" (value)="data.materials[i]">
            </mat-form-field>
        </div>
    </form>

    <button type="submit" class="save-button">
        Enregistrer
    </button>
</form>