<!-- Toolbar -->
<div class="row toolbar navbar navbar-expand-lg navbar-light bg-light" role="banner">
  <a class="navbar-brand" routerLink="/">
    <img width="320" alt="Scalian Logo" src="/assets/images/logo_scalian-1.png" />
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <h3 i18n="Title for the web app@@webAppTitle">Bibliothèque de catalogues</h3>
      </li>
    </ul>
  </div>
  <app-login></app-login>
</div>

<app-breadcrumb></app-breadcrumb>

<div class="row">
  <nav class="bg-light col-sm-2">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']" routerLinkActive="active"
          i18n="Label for home page link in navigation@@navHomePage">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['tool-box-sheets']" routerLinkActive="active"
          i18n="Label for toolboxes page link in navigation@@navToolBoxesPage">Boites à outils</a>
      </li>
    </ul>
  </nav>

  <div class="content col-sm-8" role="main">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Footer -->
<footer class="row bg-light">
  <div class="col-sm-4">
    <div class="site-logo">
      <a class="navbar-brand" href="https://www.scalian.com/" title="Scalian" rel="home">
        <img width="160" src="/assets/images/logo_scalian-1.png" alt="Scalian"></a>
    </div>
    <div class="text-right">
      <span i18n="Label for footer rights@@footerRights">Tous droits réservés© Copyright 2019.</span>
      <small class="p-md-1">V {{ appVersion }}</small>
    </div>
  </div>
  <div class="col-sm-2 text-right">
    <div class="footer-rs">
      <a target="_blank" href="https://www.linkedin.com/company/scaliangroup/">
        <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
      </a>
      <a target="_blank" href="https://twitter.com/scaliangroup">
        <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
      </a>
      <a target="_blank" href="https://www.facebook.com/ScalianGroup">
        <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
      </a>
      <a target="_blank" href="http://www.viadeo.com/fr/company/scalian/follow">
        <fa-icon [icon]="['fab', 'viadeo']"></fa-icon>
      </a>
    </div>
  </div>
</footer>