<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['']" routerLinkActive="active"
                i18n="Label for home page link in navigation@@navHomePage">Accueil</a>
        </li>
        <li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbs">
            <a [queryParams]="breadcrumb.queryParams"
                [routerLink]="[breadcrumb.url, breadcrumb.params]">{{ breadcrumb.label }}</a>
        </li>
    </ul>
</nav>